{% extends "base.html" %}

{% block content %}
<div class="grid-x">
  {% for post in latest_blogs %}
  <div class="cell large-2 medium-2 small-1"></div>
  <div class="cell large-8 medium-8 small-10">
    <div class="blog-post">
      <h3>{{ post.title }}</h3>
      <p>Published: {{ post.posted }}</p>
      <p>{{ post.body|linebreaksbr|truncatewords:100 }}... <a href="{{ post.slug }}">read full story</a></p>  <!-- post.body|linebreaksbr -->
      <div class="callout">
          Category: <a href="category/{{ post.category.slug }}">{{ post.category.title|linebreaksbr }}</a>
      </div>
    </div>
    <hr>
  </div>
  <div class="cell large-2 medium-2 small-1"></div>
  {% endfor %}
</div> <!-- End grid-x -->

{% endblock %}
