{% comment %}
Base template for pages on the blog.
Does not include the admin interface which is handled by django.
{% endcomment %}

{% load static %}

<!doctype html>
<html class="no-js" lang="en" dir="ltr">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>blog.dorsey.xyz | Welcome</title>
  <link rel="stylesheet" href="/static/css/foundation.css">
  <link href="https://fonts.googleapis.com/css?family=Oxygen&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/static/css/codemirror.css">
  <link rel="shortcut icon" type="image/png" href="{% static '/images/favicon.ico' %}"/>
</head>
  <body style="font-family: Oxygen">
  
{% block styles %}
<style>
body {
    font-family: 'Oxygen'; font-size: 18; color: #2C3539;
}
h1 {
  font-family: 'Oxygen'; font-size: 5vw; color: #FFF8DC;
}

h2 {
  font-family: 'Oxygen'; font-size: 3vw; color: #FFF8DC;
}

h3 {
  font-family: 'Oxygen'; font-size: 20; color: #2C3539;
}

</style>
{% endblock styles %}

<div id="siteContainer">
  <!-- Sub Navigation -->
  <div class="top-bar-container" data-sticky-container>
    <div class="sticky sticky-topbar" data-sticky data-margin-top="0">
      <div class="top-bar topbar-background white">
        <div class="top-bar-left">
          <ul class="menu menu-hover-lines" data-dropdown-menu>
            <li><a href="/">HOME</a></li>
            <li><a href="#">CONTACT</a></li>
          </ul>
        </div> <!-- End top-bar-left -->

    {% if not request.user.is_authenticated %}
        <div class="top-bar-right">

        </div><!-- End top-bar-right -->
    {% endif %}
      </div> <!-- End top-bar -->
    </div> <!-- end sticky-topbar -->
  </div> <!-- End top-bar-container -->
  
{% block nav_content %}
{% endblock %}

</div> <!-- End siteContainer-->

<script src="/static/js/vendor/jquery.js"></script>
<script src="/static/js/vendor/what-input.js"></script>
<script src="/static/js/vendor/foundation.js"></script>
<script src="/static/js/app.js"></script>
<script src="/static/js/codemirror.js"></script>
<script src="/static/js/python.js"></script>
<script type="text/javascript">
  document.addEventListener("DOMContentLoaded", 
                          function(prettyPython) {
    var codeElement = document.querySelectorAll('[id*=codesnippet]');
    for (var i = 0, len = codeElement.length; i < len; i++)
      {
      var code = codeElement[i].innerText;
      codeElement[i].innerHTML = "";
      var codeMirror = CodeMirror(codeElement[i],
        {
        value: code,
        mode: "python",
        theme: "default",
        lineNumbers: true,
        readOnly: true
        }
      );
      }
  });
</script>
</script>
</body>
</html>
